#screen_dashboard {
  background-image: linear-gradient(to bottom right, #3d0471, #ba72d4);
}

#dashboard-topbar {
  width: 100%;
  height: 15%;
  background: #3d0471;
  opacity: .9;
}

#dashboard-icon {
  margin-top: -8vh;
  padding-top: 5%;
  width: 16vh;
  height: 16vh;
  background-image: linear-gradient(to right, #ff669a, #fcd268 80%);
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
  opacity: .95;
}

#dashboard-icon img {
  width: 100%;
}

#dashboard-text1 {
  margin-top: 5%;
  color: white;
  font-family: Helvetica;
  font-size: 3vh;
}